<body>
  <div class="center">
    <h1>
      <font size=6>ReSView Sing Up</font>
    </h1>

    <form>
      <div class="txt_field">
        <label>First name</label>
        <input type="text" [(ngModel)]="firstname" [ngModelOptions]="{standalone: true}" id="firstname"
          placeholder="Enter Name">
      </div>

      <div class="txt_field">
        <label>Last name</label>
        <input type="text" [(ngModel)]="lastname" [ngModelOptions]="{standalone: true}" id="lastname"
          placeholder="Enter lastname">
      </div>

      <div class="txt_field">
        <label>Email</label>
        <input type="email" class="mainRegisInput" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" id="Email"
          placeholder="Enter email">
      </div>

      <div class="txt_field">
        <label>Password</label>
        <input type="password" class="mainRegisInput" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"
          id="password" placeholder="Enter password">
      </div>
      <div class="button">
        <input type="button" value="Submit" (click)="save()">

      </div>